@font-face {
    font-family: 'PixelifySans';
    src: url('fonts/PixelifySans-VariableFont_wght.ttf') format('truetype');
  }

* {
    margin: 0;
}

body {
    font-family: 'PixelifySans';
    font-weight: 400;
    color: rgb(190, 215, 84);
    background: rgb(27, 66, 66);
}

main {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

header {
    width: 100%;
    padding-top: 1%;
    padding-bottom: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(9, 38, 53);
}

.container-start, .container-main, .container-reset {
    border: 1px solid rgb(158, 200, 185);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 450px;
    height: 300px;
    box-shadow: 0 10px 5px rgba(0, 0, 0, 0.2);
    background-image: url('images/back.gif');
    background-repeat: repeat;
}

.container-main, .container-reset {
    display: none;
}

.container-election, .container-choice, .container-start button, .container-reset button {
    display: flex;
    margin-top: 1%;
    margin-bottom: 1%;
    justify-content: center;
    align-items: center;
}

.container-choice, .container-start button, .container-reset button {
    width: 250px;
    flex-wrap: wrap;
    box-sizing: border-box;
}

.container-choice button, .container-start button, .container-reset button {
    width: 150px;
    background: rgb(9, 38, 53);
    border: none;
    border-radius: 5px;
    padding: 8px;
    font-family: 'PixelifySans';
    color: rgb(190, 215, 84);
    font-size: 15px;
    margin: 15px
}

.container-choice button:active, .container-start button:active, .container-reset button:active {
    background: rgb(190, 215, 84);
    color: rgb(9, 38, 53);
}

.choice, .election-luni, .election-pichi {
    width: 70px;
    height: 70px;
    background: rgb(92, 131, 116);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2%;
}

.result-text {
    font-size: 20px;
}


.choice:active, .choice-active {
    outline: 2px solid rgb(9, 38, 53);
    background: rgb(158, 200, 185);
}

.election-luni, .election-pichi {
    width: 70px;
    height: 70px;
    background: none;
}

.luni , .pichi {
    width: 100px;
    position: relative;
    top: 30px;
    right: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.result {
    width: 100px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pichi {
    width: 100px;
    position: relative;
    top: 30px;
    right: 0px;
    left: 30px;
}

/* Mobile Styles */
@media only screen and (max-width: 600px) {

.luni {
    right: 0px;

}

.pichi {
    left: 0px;
}

.container-start, .container-main, .container-reset {
    max-width: 330px;
    height: 300px;
}

}